<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            
        </head>
        <body>
            <!-- <p>
                元画像
                <img src="{{img_url}}" style="max-width: 50%; height: auto">
            </p> -->
            <p>
                加工後画像
                <br />
                <p>
                <img src="{{ url_for('static', filename=img_url) }}" style="max-width: 50%; height: auto">
                <br />
                {% for emotion in emotions %}
                    <p>人物{{loop.index}}</p>
                    <ul>
                        {% for emotion, confidence in emotion %}
                            <li>{{ emotion }}：{{ confidence }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                </p>
                <button onclick="window.location.href='/top';">トップに戻る</button>            </p>
        </body>
    </html>